.ShowAssetTable {
  text-align: left;
}

table {
  background-color: #ffe;
  border-collapse: collapse;
}

table th {
  background-color: #eee;
}

table th, table td {
  border: solid 1px #aaa;
  padding:15px;
}